.example-spacer {
  flex: 1 1 auto;
}

.top-toolbar {
  height: 60px;
}

#user-profile-button {
  display: inline-block;
}

#user-profile-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
