<nav>
  <mat-list role="navigation">
    <mat-list-item matRipple routerLink="order" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="app-link-active" (click)="toggleSideNav()"> Заказ </mat-list-item>
    <mat-list-item matRipple [routerLink]="['order/history']" routerLinkActive="app-link-active" (click)="toggleSideNav()"> История заказов </mat-list-item>
    <mat-list-item matRipple routerLink="profile" routerLinkActive="app-link-active" (click)="toggleSideNav()"> Профиль </mat-list-item>
  </mat-list>
</nav>

