@media (max-width: 600px) {
    .imageContainer {
        display: block;
        vertical-align: top;
        margin: auto;
        text-align: center;
    }
}
@media (min-width: 601px) {
    .imageContainer {
        display: inline-block;
        vertical-align: top;
        padding: 20px;
    }
}

.container {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 20px 0;
}

.section {
    text-align: left;
    margin: 20px;
    padding: 5px;
}

.icon {
    vertical-align: middle;
    padding: 0 2px 5px 2px;
    margin: 0 5px;
    color: #3F51B5;
}

.text {
    vertical-align: middle;
}

@media (max-width: 600px) {
    .controlButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width: 601px) {
    .controlButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.stateButton {
    margin: 4px;
}

