<div role="main" aria-label="Страница не найдена" class="text-center m-5">
  <h1 role="text" class="text-danger">Страница не найдена</h1>
  <button mat-raised-button tabindex="0" role="link" aria-label="На главную"  routerLink='' color="primary">На главную</button>
</div>
