#map-container {
  height: inherit;
  width: inherit;
}

.spinner {
  display: block;
  vertical-align: middle;
  margin: auto;
}

#map {
  min-height: 200px;
  min-width: 200px;
  height: inherit;
}

/*# sourceMappingURL=yandex-map-router.component.css.map */
